snippet tt "fast two input table"
\begin{tabular}{cc|c}
&  &  \\\\
\hline
0 & 0 &  \\\\
0 & 1 &  \\\\
1 & 0 &  \\\\
1 & 1 &  \\\\
\end{tabular}
endsnippet

snippet code "fast lstlisting"
\begin{lstlisting}
\end{lstlisting}
endsnippet

snippet def "fast definition"
\begin{defns}[ ]
\end{defns}
endsnippet

snippet enum "fast enumerate"
\begin{enumerate}
\end{enumerate}
endsnippet



